{
    "groups": [
        {
            "skey": "@eFuBLbBT8",
            "gid": "763897114",
            "qid": "212471286"
        }
    ],
    "token": "INITKEYhwwiKLmt",
    "qid": 2973546098,
    "host": "127.0.0.1",
    "port": 8080
}